.footer-menu,
.footer-menu__list {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.footer-menu__link {
    white-space: nowrap;
}

@media (max-width : 1200px) {
    .footer-menu {
        flex-direction: column;
    }

    .footer-menu .h4{
        font-weight: 500;
    }

    .footer-menu__list {
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        column-gap: 2rem;
    }
}

@media (max-width : 576px) {
    .footer-menu {
        align-items: center;
    }

    .footer-menu__list {
        justify-content: center;
    }
}
