.section__body {
    padding: 5rem 0;
}

.page-main .section:not(:first-child) .section__body{
    border-style: solid;
    border-width: 0.1rem 0 0 0;
    border-color: var(--color-black-10);
}

.section__grid {
    display: flex;
    column-gap: var(--gap);
}

.section__grid--stretch {
    align-items: stretch;
}

.section__column {
    flex: 0 1 auto;
}

.section__column--big {
    flex-grow: 1;
}

.section__column--small {
    flex-shrink: 0;
    flex-basis: 32%;
}

.section__grid--small .section__column--small {
    flex-shrink: 0;
    flex-basis: 39.5%;
}

.section__column--report-example {
    overflow: hidden;
}

@media (max-width : 992px) {
    .section__body {
        padding: 3rem 0;
    }

    .section__grid {
        flex-wrap: wrap;
    }

    .section__column {
        margin-bottom: var(--gap);
    }

    .section__column:last-child {
        margin-bottom: 0;
    }

    .section__column--big,
    .section__column--small {
        flex: 1 0 100%;
    }
}

@media (max-width : 768px) {
    .section__body {
        padding: 2rem 0;
    }
}
